.bar {
  margin: 0 auto;
  width: fit-content;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  padding-top: 5px;
  padding-bottom: 5px;
  user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.searchbar {
  font-family: "Roboto Mono for Powerline";
  font-size: 48;
  height: 54px;
	width: 13ch;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-right: 14px;
  margin-left: 14px;
  border: none;
  background: none;
}

.bar_icons {
  width: 48px;
  display: none;
  padding-right: 20px;
}

.scanner_icon {
  width: 6ch;
}

.search_icon {
  width: 5ch;
}

*:focus {
  outline: none;
}

::placeholder {
  color: #68a2ff1f;
  font-size: 30px;
}

* {
	margin: 0px;
	padding: 0px;
	outline: none;
	font-family: arial, sans-serif;
}

div.main {
	width: max-content;
	height: 310px;
	border-radius: 30px;
	margin: 50px auto;
	text-align: center;
	padding: 40px;
	box-shadow: 1px 1px 8px 1px #dcdcdc;
	overflow: auto;
}

#div_entrada {
	vertical-align: middle;
}

#izquierda {
	float: left;
	text-align: center;
}

#derecha {
	max-height: 100%; 
	text-align: center;
	overflow-y: scroll;
}

label {
	font-size: 22px;
	list-style-type: none;
	color: #fff;
	text-shadow: 0px 0px 7px #000;
	margin-bottom: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	display: block;
}

label.titulo {
	font-size: 24px;
}

label.descripcion {
	color: #0F0;
	font-size: 24px;
}

label.multiplicador {
	color: #0F0;
	font-size: 30px;
	float: right;
}

label.last {
	color: #EEE;
	font-size: 12px;
	font-weight: normal;
	margin: 3px;
}
